<h4 class="dispaly-4">Order Food Item</h4>
<hr>
<form #itemform="ngForm" autocomplete="off" (submit)="onSubmit(itemform)">
    <input type="hidden"  name="OrderItemID" #OrderItemID="ngModel" [(ngModel)]="formDataItem.OrderItemID">
    <input type="hidden"  name="OrderID" #OrderID="ngModel" [(ngModel)]="formDataItem.OrderID">
<input type="hidden" name="ItemName" #ItemName="ngModel" [(ngModel)]="formDataItem.ItemName">
   
  <div class="form-group">
    <label>Food Item</label>
    <select name="ItemID" #ItemID="ngModel" [(ngModel)]="formDataItem.ItemID" class="form-control" (change)=updatePrice($event.target)
    [class.is-invalid] = "!isValid &&  formDataItem.ItemID==0">
      <option value="0">-Select-</option>
      <option *ngFor="let item of itemList" value="{{item.ItemID}}">{{item.Name}}</option>
    </select>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Price</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">$</div>
        </div>
        <input name="Price" #Price="ngModel" [(ngModel)]="formDataItem.Price" class="form-control" readonly>
      </div>
    </div>
    <div class="form-group col-md-6">
      <label>Quantity</label>
      <input name="Quantity" #Quantity="ngModel" [(ngModel)]="formDataItem.Quantity" class="form-control"
      (keyup)="updateTotal()" [class.is-invalid]="!isValid && formDataItem.Quantity==0">
      
    </div>
  </div>
  <div class="form-group">
    <label>Total</label>
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text">$</div>
      </div>
      <input name="Total" #Total="ngModel" [(ngModel)]="formDataItem.Total" class="form-control" readonly>
    </div>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-dark"><i class="fa fa-database"></i> Submit</button>
    <button type="button" class="btn btn-outline-dark ml-1" [mat-dialog-close]><i class="fa fa-close"></i> Close</button>
  </div>
</form>